Anaconda:
https://www.anaconda.com/
Opencv:
conda install -c conda-forge opencv
Numpy:
conda install -c anaconda numpy
CUDA:
conda install -c anaconda cudatoolkit
Pytorch 0.4.1:
conda install pytorch=4.1.0 -c soumith
Matplotlib:
conda install -c conda-forge matplotlib
Torchvision:
conda install torchvision -c pytorch
argparse:
conda install -c anaconda argparse